.description {
  margin-bottom: 22px;

}

.description__wrapper {
  @include wrapper;
  padding-top: 27px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  &::before {
    content: " ";
    position: absolute;
    display: inline-block;
    top: 0;
    width: 320px;
    height: 302px;
    background: url("../../img/index-background-desktop 2.jpg") no-repeat;
    z-index: -1;
  }
}

.description__title {
  margin: 0;
  margin-bottom: 25px;
  max-width: 280px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 36px;
  line-height: 36px;
  color: $color-white;
  text-align: center;
}

.description__slogan {
  margin: 0;
  margin-bottom: 29px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 14px;
  color: $color-white;
  text-transform: uppercase;
}

.description__img {
  margin-bottom: 2px;
  width: 280px;
  height: 270px;
}

.description__button {
  display: inline-block;
  width: 280px;
  height: 40px;
}
