.main-nav {
  position: relative;

  &::after {
    content: " ";
    position: absolute;
    display: inline-block;
    width: 320px;
    height: 302px;
    background: url("../../img/index-background-desktop 2.jpg") no-repeat;
    z-index: -1;
  }
}

.main-nav__toogle {
  position: absolute;
  right: 21px;
  top: -50px;
  height: 18px;
  width: 18px;
  font-size: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &::after {
    content: " ";
    display: inline-block;
    position: absolute;
    left: 8px;
    top: -3px;
    width: 2px;
    height: 25px;
    background-color: $color-black;
    transform: rotate(44deg);
  }

  &::before {
    content: " ";
    display: inline-block;
    position: absolute;
    left: 8px;
    top: -3px;
    width: 2px;
    height: 25px;
    background-color: $color-black;
    transform: rotate(-44deg);
  }
}

.site-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.site-list__item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;
  width: 100%;
  border-top: 2px solid $color-gray;

  &:last-child {
    border-bottom: 2px solid $color-gray;
  }

  a {
    display: flex;
    color: $color-black;

    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

