.page-header {
  @include wrapper;
  min-width: 320px;
  padding-left: 0;
  padding-right: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: $color-black;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.page-header__logo-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
  padding-right: 100px;
}

.page-header__logo {
  display: flex;
  margin: 12px 0 20px 0;
  align-items: center;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.logo__icon {
  margin-right: 62px;
  width: 35px;
  height: 37.61px;
}

.logo__title {
  width: 101px;
  height: 19px;
}
