//Variables

$color-gray: #e6e6e6;
$color-light-gray: #f2f2f2;
$color-more-gray: #d9d9d9;
$color-special-dark-gray: #444444;
$color-special-gray: #cdcdcd;
$color-gray-bg: #eaeaea;
$color-black: #000000;
$color-white: #ffffff;
$color-green: #68b738;
$color-green-darken: #5eaa2f;


//Mixins

@mixin wrapper {
  margin: 0 auto;
  width: 280px;
}

@mixin title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
}

@mixin text {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
}
